<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:700px">
	<tbody>
		<tr>
			<td style="width:17px" valign="bottom"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/6.png" border="0" alt="" style="display:block;"></td>
			<td style="width:667px">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width:658px">
							<tbody>
								<tr>
									<td><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/1.png" border="0" alt="" style="display:block;"></td>
									<td style="width:31px"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/2.png" border="0" alt="" style="display:block;"></td>
									<td style="width:31px"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/3.png" border="0" alt="" style="display:block;"></td>
									<td style="width:31px"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/4.png" border="0" alt="" style="display:block;"></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td valign="bottom" style="height:287px"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/5.png" border="0" alt="" style="display:block;"></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="width:16px" valign="bottom"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/7.png" border="0" alt="" style="display:block;"></td>
		</tr>
		<tr>
			<td colspan="3" style="background-color:rgb(76, 126, 142);color:#ffffff;font-family:Arial;font-size:35px;text-align:center;padding:10px;">Lorem ipsum dolor sit amet</td>
		</tr>
		<tr>
			<td style="width:17px">&nbsp;</td>
			<td style="width:667px;padding:10px;" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td style="color:#585858;font-family:Arial;font-size:16px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</td>
					</tr>
					<tr>
						<td align="center" style="padding:15px"><img src="http://emailmarketingtemplates.com.br/templates/newsletter/news-blue/8.png" border="0" alt="" style="display:block;"></td>
					</tr>
					<tr>
						<td style="background-color:rgb(124, 124, 124);color:#ffffff;font-family:arial;font-size:14px;text-align:center;padding:10px;"><span style="color:#ffffff;"><a href="" style="color:#ffffff;text-decoration:none;">seusite.com</a> | <span style="color:#ffffff;"><a href="" style="color:#ffffff;text-decoration:none;">seucontato@contato.com</a></span> | <span style="color:#ffffff;"><a href="" style="color:#ffffff;text-decoration:none;">(11) 9876-5432</a></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="width:16px">&nbsp;</td>
		</tr>
	</tbody>
</table>