@{
    ViewBag.Title = "Reset de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, acesse seu email para realizar o reset de sua senha!
    </p>
</div>
	
