@{
    ViewBag.Title = "Sobre Nós";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Olá, tudo bem?</b></h4>
<font size="3">
    <p>
        Primeiramente, o <b>MERCADO DE SERVIÇOS</b> agradece o seu acesso a esta nova ferramenta, que traz a proposta de facilitar a vida do cliente/usuário em busca dos mais variados tipos de serviços do dia-a-dia.
    </p>
    <p>
        De outro lado, possibilita que prestadores de serviços encontrem um local propício para divulgar seus trabalhos de forma simples, rápida e abrangente. Por este motivo, o MERCADO DE SERVIÇOS tem por objetivo atingir as mais diversas áreas de atuação no campo da prestação de serviços,  atuando como um elo facilitador entre você, usuário, e o serviço especializado mais próximo.
    </p>
    <p>
        Para atingirmos esta finalidade, contamos com uma crescente rede de cadastros de prestadores de serviço, distribuídos por todo o país, permitindo assim que sua demanda seja atendida da forma mais rápida e satisfatória possível. Por isso, contamos com que você, usuário, desfrute desta nova ferramenta e deixe sua avaliação após ter utilizado o serviço. Dessa forma teremos a condição de oferecer sempre o melhor do que você precisa, ampliando a rede de ofertas e primando sempre pela melhor qualidade.
    </p>
</font>