
@{
    ViewBag.Title = "Termos De Uso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Termos De Uso</h2>

<p>Olá, tudo bem?</p>

<p>Primeiramente, o Mercado de Serviços agradece o seu acesso a esta nova ferramenta, que traz a proposta de facilitar a vida do cliente/usuário em busca dos mais variados tipos de serviços do dia-a-dia. </p>

<p>De outro lado, possibilita que prestadores de serviços encontrem um local propício para divulgar seus trabalhos de forma simples, rápida e abrangente. Por este motivo, a Mercado de Serviços tem por objetivo atingir as mais diversas áreas de atuação no campo da prestação de serviços, atuando como um elo facilitador entre você, usuário, e o serviço especializado mais próximo. </p>

<p>Para atingirmos esta finalidade, contamos com uma crescente rede de cadastros de prestadores de serviço, distribuídos por todo o país, permitindo assim que sua demanda seja atendida da forma mais rápida e satisfatória possível. Por isso, contamos com que você, usuário, desfrute desta nova ferramenta e deixe sua avaliação após ter utilizado o serviço. Dessa forma teremos a condição de oferecer sempre o melhor do que você precisa, ampliando a rede de ofertas e primando sempre pela melhor qualidade. </p>

<br />
<p>Termos e Condições de Contratação:</p>

<br />
<p>Os seguintes Termos e Condições aplicam-se aos serviços de publicidade oferecidos por MERCADO DE INTERMEDIAÇÃO DE SERVIÇOS LTDA, empresa devidamente inscrita no CNPJ sob o nº 27.227.432/0001-96, situada na Rua Ibéria, 250 - Parque Capuava, Santo André - SP, 09271-080, doravante denominado "Mercado de Serviços", nas condições descritas abaixo:</p>

<p>Qualquer pessoa que quiser se cadastrar no Mercado de Serviços poderá fazê-lo sujeitando-se aos presentes Termos e Condições de Uso. A aceitação eletrônica dos Termos e Condições implica que o Usuário leu, compreendeu e se sujeita em total conformidade à sua aplicação. </p>

<h2 dir="ltr">Reclamações sobre violação de direitos autorais</h2>

<br />
<p>O Mercado de Serviços respeita a propriedade intelectual de outras pessoas ou empresas. </p>

<p>Por isso, solicitamos aos nossos membros que façam o mesmo. Toda e qualquer violação de direitos autorais deverá ser notificada ao Mercado de Serviços e acompanhada dos documentos e informações que confirmam a autoria. A notificação poderá ser enviada pelos e-mails constantes do site ou via postal para o seguinte endereço: Rua Ibéria, 250 - Parque Capuava, Santo André - SP, 09271-080.</p>

<p>As imagens contidas neste website são aqui incorporadas apenas para fins de visualização, e, salvo autorização expressa por escrito, não podem ser gravadas ou baixadas via download. A reprodução ou armazenamento de materiais recuperados a partir deste serviço sujeitará os infratores às penas da lei.</p>

<br />
<h2 dir="ltr">Restrições na Utilização dos Serviços </h2>

<br />
<p>O Usuário não deve utilizar os serviços do Mercado de Serviços para:</p>

<p>1) Divulgar conteúdos Sensuais ou Pornográficos, impróprios para menores ou que façam alusão a atividades ilegais.</p>

<p>2) Divulgar informações ofensivas ou caluniosas a outras pessoas ou a empresas.</p>

<p>3) Realizar atividades que não estejam ligadas diretamente às atividades comerciais ou de prestação de serviços permitidas no ordenamento jurídico brasileiro;</p>

<p>4) Utilizar este sítio para veicular conteúdo político-partidário;</p>

<p>5) Utilizar outro idioma que não seja a língua portuguesa, ressalvados os casos pertinentes e autorizados em lei;</p>

<p>6) Utilizar formas de pagamento não usuais de mercado.</p>

<br />
<h2 dir="ltr">Cancelamento/alteração de Pedido</h2>

<br />
<p>Para solicitar cancelamento do pedido ou realizar alteração de agenda, o Cliente deverá entrar em contato diretamente com o Prestador de Serviços requisitado.</p>

<p> Desa forma, o Mercado de Serviços não se responsabiliza pelo acordo realizado entre o cliente/usuário e o prestador de serviços. </p>

<p>Informações de eventuais cobranças de deslocamento deverão ser previamente informadas e acordadas entre o usuário e o prestador de serviços. O Mercado de Serviços não se responsabiliza pelo acordo firmado entre as partes no que tange ao pagamento de valores de deslocamento, orçamento solicitado pelo usuário ou gastos realizados pelo prestador de serviço, além de casos de inadimplência do usuário ou mesmo deficiência do serviço prestado.</p>

<p>O Mercado de Serviços reitera que seu papel consiste em aproximar o usuário do prestador de serviço mais próximo, competindo àquele escolher, dentre as diversas opções oferecidas, a que melhor lhe aprouver. </p>

<h2 dir="ltr">Limitação da responsabilidade</h2>

<br />
<p>O Mercado de Serviços não garante o acesso ou uso contínuo e ininterrupto do Web Site, tendo em vista que este pode estar eventualmente indisponível devido a dificuldades técnicas ou falhas de internet nos links ou por qualquer outra circunstância alheia ao Mercado de Serviços. </p>

<p>Dessa forma, o Prestador de Serviço reconhece expressamente que não poderá imputar ao Mercado de Serviços qualquer responsabilidade, nem exigir nenhum tipo de ressarcimento em virtude dos prejuízos que possa sofrer como consequência das dificuldades de acesso e funcionamento do Web Site. </p>

<p>O Mercado de Serviços não será responsável por nenhum lucro cessante ou por qualquer dano, inclusive moral, que de qualquer forma resulte ou se relacione direta ou indiretamente com a publicidade dos Serviços. </p>

<p>O Prestador de serviços declara que os conteúdos dos Anúncios (palavras-chave, informação, url dos mesmos, imagem, etc.) assim como dos Web Sites, serviços e páginas de destino que se possam acessar a partir dos Anúncios, não possuem conteúdos ilícitos, sendo seu teor de exclusiva responsabilidade do Prestador de Serviços. </p>

<p>Os prestadores de serviço cadastrados no Mercado de Serviços devem estar cientes que se sujeitam às regras previstas no Código de Defesa do Consumido, Lei 8.078/90, bem como às normas de segurança previstas para cada ramo de atividade, não tendo o Mercado de Serviços qualquer </p>

<p>O Prestador de Serviços entende que é inerente às atividades online interrupções e eventuais falhas de desempenho ou segurança. Desta forma o Mercado de Serviços não poderá ser responsabilizado por falhas decorrentes de erros técnicos, falhas de segurança ou invasão por parte de terceiros. </p>

<br />
<h2 dir="ltr">Usuário</h2>

<p>O Mercado de Serviços esclarece ao usuário que seu principal objetivo é localizar as opções de prestação de serviço localizadas mais próximas do usuário, por georreferenciamento, oferecendo um grande leque de variedades para a livre escolha.do usuário. </p>

<p>É por esse motivo que o Mercado de Serviços conta com a avaliação dos usuários sobre os serviços utilizados, que servirão de referência para outros usuários desta ferramenta.</p>

<h2 dir="ltr">Prestador de Serviço</h2>

<br />
<p>O Mercado de Serviços consiste em estabelecer uma ampla e abrangente rede de prestadores de serviço, todos georreferenciados, possibilitando a fácil localização do usuário e o contato com o prestador mais próximo. </p>

<p>Para atingir essa finalidade, o Mercado de Serviços conta com um complexo serviço de cadastro de prestadores de serviços dos mais variados segmentos, além de uma ampla estratégia de marketing virtual, fazendo com que o contato entre usuário e prestador de serviço seja sensivelmente facilitado, com rapidez e qualidade.</p>

<p>O Mercado de Serviços assegura a gratuidade de cadastramento de prestadores de serviço até o dia 31/12/2017. Até esta data, os clientes cadastrados poderão usufruir, de forma gratuita, das estratégias de marketing oferecidas pelo Mercado de Serviços, tendo assegurada ampla visibilidade e oferta de seu serviço em nível nacional. </p>

<p>Após essa data, o Mercado de Serviços se reserva no direito de oferecer planos de adesão, que poderão ser mensais, trimestrais, semestrais ou anuais, onde serão cobrados os valores de manutenção do site e seus direitos autorais. Para tanto, os prestadores cadastrados serão previamente informados dos planos oferecidos, e poderão, se assim o quiserem, cancelar seu cadastro de forma gratuita.</p>

<p> Tributos:</p>

<p>O Prestador de Serviço é responsável pelo pagamento de todos os tributos, impostos e taxas incidentes sobre as atividades que realizar.</p>

<br />
<p>Legislação aplicável e Foro de eleição:</p>

                                Os presentes Termos e Condições de Uso de contratação do Mercado de Serviços são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação e ao cumprimento deste, as partes se submetem ao Foro da Cidade de São Paulo.