body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

#map_container{
    padding-top: 5%;
}

#map{
    height: 100%;
    width: 100%;
    padding-bottom: 50%;
}

/*Início da formatação do form de avaliação*/

.btn span.glyphicon {
    opacity: 0;
}

.formAvaliacao
{
    font-size: 14px;
    position: inherit;
}

.btn.active span.glyphicon {
    opacity: 1;
}

/*Início da formatação do form de avaliação*/



/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Meu CSS*/
#upload-choices {
    width: 450px;
    float: left;
}

#upload-cut {
    margin-left: 480px;
    padding-top: 10px;
    min-width: 150px;
}

#preview {
    max-width: 100%;
    display: block;
}

.editor-row {
    margin: 10px 0;
    height: 40px;
    width: 100%;
}

.editor-row div {
	margin: 0; height: 40px; display: inline-block;
}

.editor-row div.editor-label {
    width: 150px;
}

.editor-row div.editor-field {
    width: 300px;
}

.editor-row .editor-field input {
    width: 300px; height: 100%; box-sizing: border-box;
}

button {
    background: #3F9D4A; border: none; font-size: 1.2em; color: #FFF; padding: 7px 10px;
    border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4); margin: 5px 0;
}

button:hover {
    box-shadow: 0 0 10px #666;
}

/*Início CSS 02/11/2016 - Rene Spina*/
/*media-smartphone .body-content
{
    padding: 0px !important;
    margin: 0px !important;
}*/

/*Fim CSS 02/11/2016 - Rene Spina*/